
/* -- main.css -- */

#goto-website-button {
    position: absolute;
    top: 40%;
    right: 40%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    border: solid white 10px;
    background-color: black;
    padding: 30px;
    transition: all .4s ease;
}

#goto-website-button:hover {
    background-color: gray;
    top: 39%;
    transition: all .4s ease;
}

#goto-website-button:focus {
    top: 39%;
    right: 0%;
    opacity: 0%;
    transition: all 1s ease;
}

#dont-click-container {
    position: absolute;
}

#dont-click-me-button {
    position: absolute;
    padding: 2px;
}

.index-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.index-background-slide {
    width: 0px;
    /*left: 2500px;*/
    transition: all .4s ease;
}

.page-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.page-contents {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    text-align: center;
}

.center-vertically {
    margin-top: 25%;
    margin-bottom: 25%;
    height: 50%;
}

.centers-contents-lr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
}

.grid-item, #dont-click-container {
    border: solid 2px rgb(33, 37, 41);
    border-radius: 20px;
    color: rgb(33, 37, 41);
}

.grid-item-dark {
    background-color: rgb(33, 37, 41);
    color: white;
}

.grid-item-title {
    padding-top: 10px;
}

.grid-item-title::before, .grid-item-title::after {
    content: ' - ';
}

a {
    text-decoration: none;
    color: rgb(80, 80, 80);
    transition: color .3s ease;
}

a:hover {
    color: rgb(200,200,200);
    transition: color .3s ease;
}

.grid-item-dark a {
    color: rgb(200,200,200);
    transition: color .3s ease;
}

.grid-item-dark a:hover {
    color: rgb(80, 80, 80);
    transition: color .3s ease;
}

ul, li {
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

button {
    background-color: rgb(33, 37, 41);
    border: 1px solid rgb(33, 37, 41);
    border-radius: 15px;
    padding: 10px;
    color: white;
    transition: background-color .3s ease;
}

button:hover {
    background-color: rgb(53, 57, 61);
    border-color: rgb(53, 57, 61);
    transition: all .3s ease;
}
